$main-color: #333;
$secondary-color: #f4f4f4;
$highlight-color: #D9D9D9;

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page {
  width: 210mm;
  height: 297mm;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  color: $main-color;
}

.image {
  height: 120mm;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .ingredients-banner {
    background-color: $highlight-color;
    border-radius: 20px;
    padding: 20px;
    flex: 2;

    .ingredients h2 {
      text-align: left;
      font-size: 20px;
      margin-bottom: 10px;
      color: $main-color;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      li {
        font-size: 14px;
        color: $main-color;
        input {
          margin-right: 10px;
        }
      }
    }
  }

  .time {
    flex: 1;
    text-align: center;

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .time-icon,
      .hourglass-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px; // Пробел между иконкой и текстом
      }

      .total-time,
      .timer-countdown {
        font-size: 18px;
        font-weight: bold; // Жирный шрифт
      }
    }

    .time-buttons {
      display: flex;
      justify-content: center;
      gap: 6px; // Расстояние между кнопками

      button {
        padding: 4px 6px; // Тоньше кнопки
        font-size: 10px; // Меньший текст
        background-color: $highlight-color;
        color: $main-color;
        border: none;
        border-radius: 4px;

        &:hover {
          background-color: darken($highlight-color, 10%);
        }
      }
    }

    .timer-display {
      margin-top: 10px;

      .timer-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .start {
        padding: 4px 6px; // Тоньше кнопка
        font-size: 10px;
        background-color: $highlight-color;
        color: $main-color;
        border: none;
        border-radius: 10px;

        &:hover {
          background-color: darken($highlight-color, 10%);
        }
      }
    }
  }
}

footer {
  border-top: 1px solid $highlight-color;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  p {
    font-size: 12px;
    color: $main-color;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-icons img {
    width: 24px;
    height: 24px;
    &:hover {
      opacity: 0.8;
    }
  }
}
