body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page {
  width: 210mm;
  height: 297mm;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  flex-direction: column;
}
.page header {
  padding: 20px 0;
  background: none;
}
.page header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  color: #333;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120mm;
  z-index: 2;
}
.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.info .ingredients-banner {
  flex: 2;
  position: relative;
  background-color: #777;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 20px;
  top: -30px;
  z-index: 1;
}
.info .ingredients-banner .ingredients {
  position: relative;
}
.info .ingredients-banner .ingredients h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  color: #333;
}
.info .ingredients-banner .ingredients ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
}
.info .ingredients-banner .ingredients ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}
.info .ingredients-banner .ingredients ul li input {
  margin-right: 10px;
}
.info .time {
  flex: 1;
  margin-right: 20px;
  text-align: right;
}
.info .time .time-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.info .time .time-header .time-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.info .time .time-header h2 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.info .time p {
  font-size: 16px;
  margin-bottom: 10px;
}
.info .time p .total-time {
  font-weight: bold;
  color: #333;
}
.info .time .time-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.info .time .time-buttons button {
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #777;
  color: white;
  border: none;
  border-radius: 4px;
}
.info .time .time-buttons button:hover {
  background-color: rgb(144.5, 144.5, 144.5);
}
.info .time .timer-display {
  margin-top: 10px;
  text-align: right;
}
.info .time .timer-display .timer-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.info .time .timer-display .timer-header .hourglass-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.info .time .timer-display .timer-header p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.info .time .timer-display .timer-header p .timer-countdown {
  font-weight: normal;
}
.info .time .timer-display .start {
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #777;
  color: white;
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}
.info .time .timer-display .start:hover {
  background-color: rgb(144.5, 144.5, 144.5);
}

.preparation {
  padding: 20px;
}
.preparation h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 20px;
}
.preparation .steps-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.preparation .steps-grid .step {
  display: flex;
  align-items: flex-start;
}
.preparation .steps-grid .step .step-number {
  width: 40px;
  height: 40px;
  background-color: #777;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 10px;
}
.preparation .steps-grid .step p {
  font-size: 16px;
  margin: 0;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 10px;
  background-color: #f4f4f4;
}
footer p {
  font-size: 12px;
  margin: 0;
  color: #333;
}
footer p a {
  color: #333;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
